<bal-app class="has-sticky-footer">
  <header>
    <!-- Header content -->
  </header>
  <main class="container">
    <bal-heading class="mt-x-large mb-large">Upgrade Example to v13</bal-heading>
    <app-styles></app-styles>
    <!-- ------------------------- -->
    <bal-heading level="h2" class="mt-x-large mb-medium">Steps Component Refactoring</bal-heading>
    <app-steps></app-steps>
    <!-- ------------------------- -->
    <bal-heading level="h2" class="mt-x-large mb-medium">Rename Property value to active</bal-heading>
    <app-active></app-active>
    <!-- ------------------------- -->
    <bal-heading level="h2" class="mt-x-large mb-medium">Types Refactoring</bal-heading>
    <app-types></app-types>
    <!-- ------------------------- -->
    <bal-heading level="h2" class="mt-x-large mb-medium">AG-Grid Upgrade</bal-heading>
    <app-grid></app-grid>
  </main>
</bal-app>
