<bal-heading level="h3">Accordion</bal-heading>
<bal-accordion [value]="isAccordionActive" (balChange)="onAccordionChange($event)">
  <bal-accordion-summary>
    <bal-stack>
      <bal-icon [svg]="autoSvg" color="auto" size="large"></bal-icon>
      <bal-content>
        <bal-label>Label Heading</bal-label>
        <bal-text size="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos at repellendus
          vitae voluptates
          officiis qui tempore. Veniam ab sed nostrum excepturi dignissimos maxime itaque optio tempore,
          officiis enim, exercitationem ex.
        </bal-text>
      </bal-content>
      <bal-checkbox interface="switch"></bal-checkbox>
      <bal-accordion-trigger></bal-accordion-trigger>
    </bal-stack>
  </bal-accordion-summary>
  <bal-accordion-details>
    <p class="py-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.</p>
  </bal-accordion-details>
</bal-accordion>
<!-- ----------------------------------------------- -->
<!-- ----------------------------------------------- -->
<!-- ----------------------------------------------- -->
<bal-heading level="h3" class="mt-medium">Popover</bal-heading>
<bal-popover [value]="isPopoverActive" (balChange)="onPopoverChange($event)">
  <bal-button bal-popover-trigger aria-haspopup="true" color="info">
    Trigger Popover
  </bal-button>
  <bal-popover-content>
    <div class="p-small">
      <h5 class="title is-size-x-large" style="margin-top: 0px">Title</h5>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nihil dolore nesciunt sed minus doloremque error
        quae excepturi molestiae molestias amet ab, explicabo
        dolor aperiam perferendis mollitia facilis harum vero. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quia nihil dolore nesciunt sed minus doloremque
        error quae excepturi molestiae molestias amet ab, explicabo dolor aperiam perferendis mollitia facilis harum
        vero.
      </p>
    </div>
  </bal-popover-content>
</bal-popover>
